{% extends "base.jinja2" %}
{% block title %}Our Authors{% endblock %}
{% block content %}
	{% for author, posts in authors.iteritems() %}
		<div class="author_list_item">
			<h3><a href="{{ author.replace(' ', '_') }}1.html">{{ author }}: {{ posts|length }} posts</a></h3>
		</div>
	{% endfor %}
{% endblock %}