<html>
<head>
	<title>{{ title }}</title>
	<meta name="author" content="Tod Hansmann">
</head>
<body>
<div id="header">
	<img src="logo.png" />{{ title }}
</div>
<div id="content">
	{{ content }}
</div>
</body>
</html>