{% extends "base.jinja2" %}
{% block title %}Tags{% endblock %}
{% block content %}
	{% for tag, posts in tags.iteritems() %}
		<div class="tag_list_item">
			<h3><a href="tag_{{ tag.replace(' ', '_') }}1.html">{{ tag }}: {{ posts|length }} posts</a></h3>
		</div>
	{% endfor %}
{% endblock %}